// Typography
$image-path: 'https://mariohernandez.vtexassets.com/arquivos/';
$bt_capitanejolight: 'bt_capitanejolight', sans-serif;
$bt_capitanejoregular: 'bt_capitanejoregular',sans-serif;
$bt_capitanejothin: 'bt_capitanejothin',sans-serif;
$brown1: #b7812c;
$bluep:#152047;
$background-light: #fcfcfc;
$grayLigth:#f7f7f7;
$grayMedium:#8b8b8b;
$grayDark:#4a4a4a;
$black:#000000;
$font-size-general:14px;
$white:#ffffff;